language: python
python:
  - "2.7"
#  - "3.3"
# command to install dependencies
before_install:
  - git clone -b iterative_uniquify https://github.com/clemux/firewoes.git ../firewoes
  - pip install -e ../firewoes
  - sudo apt-get update
  - sudo apt-get install -qq cppcheck lintian npm
  - travis_retry npm install -g jshint
  - jshint -v
  - gem install roodi
install:
  - pip install -r requirements.txt
  - pip install -r requirements-slave.txt
  - pip install -r requirements-master.txt
  - pip install coveralls
  - pip install flake8
env:
  - DATABASE_URI='postgres://postgres:@localhost:5432/debile_tests'
before_script:
  - flake8 --version
  - psql -c 'create database debile_tests;' -U postgres

# command to run tests
script:
 - coverage run --source=. $(which nosetests)

# flake8
# warnings ignored:
# * E241 (multiple spaces after ':', ',') -> we want to align stuff
 - flake8 debile/ --ignore E711,E241 --max-line-length=200
after_success:
 - coveralls

notifications:
  irc:
    channels:
      - "irc.debian.org#debile"
    on_success: always
    on_failure: always
    skip_join: true
    template:
      - "%{repository}#%{build_number} (%{branch} - %{commit} - %{author} (diff: %{compare_url}): %{build_url}"
